.wrapper {
    display: block;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: #8e908c;
}

.outer-page {
    width: 210mm;
    height: 100%;
    background-color: white;
    margin: auto;
    padding-right: 20mm;
    padding-left: 20mm;
    padding-top: 15mm;
}

.inner-page {
    border: #ddd 1px solid;
}